#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.d
*.o
*.map
*.lst
*.dep
*.iex
*.hex
*.htm
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.__i
*.axf
*.Bak
*.crf
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.plg
*.tra
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.uvopt
obj/
JLinkLog.txt
.svn/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*